{% extends 'base.html.twig' %}

{% block title %}Donne ton retour{% endblock %}

{% block body %}
    <div class="px-4 max-w-7xl mx-auto mt-10">

        <h1 class="text-2xl font-semibold text-black mb-6">
            Donne ton retour sur l'avis de <span class="underline decoration-black">{{ feedback.author.firstName }}</span>
        </h1>

        <div class="  p-6 max-w-md">
            {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

            <div>
                <label class="block mb-2 text-sm font-medium text-black">Note :</label>
                <div class="flex space-x-4 text-black text-sm">
                    {{ form_widget(form) }}
                </div>
                <div class="text-red-600 text-sm mt-1">
                    {{ form_errors(form) }}
                </div>
            </div>

            <button type="submit"
                    class="w-full bg-[#D66853] hover:bg-[#bf503f] text-white font-semibold py-3 rounded-md transition">
                Envoyer
            </button>

            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
