{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_conversation') }}" class="text-gray-500 hover:text-[#D66853] mb-4 inline-block">
        &lt;-- back to conversations
    </a>
    <h3 class="text-xl font-semibold mb-4">Messages :</h3>
    <div id="messages"
         class="flex flex-col gap-4 max-h-[500px] overflow-y-auto p-4 border border-gray-300 rounded-lg bg-white shadow-sm"
            {{ turbo_stream_listen('conversations/' ~ conversation.id, 'default', { withCredentials: true }) }}>

        {% for message in conversation.messages %}
            <twig:Message :message="message" class="p-3 rounded-lg shadow-sm" />
        {% endfor %}

    </div>

    <turbo-frame id="message_form" class="mt-6">
        {{ form_start(form, { attr: { class: 'flex gap-2' } }) }}
        {{ form_widget(form.content, { attr: { class: 'flex-grow border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#D66853]' } }) }}
        <button type="submit"
                class="bg-[#D66853] text-white px-5 py-2 rounded hover:bg-[#bf503f] transition">
            Post
        </button>
        {{ form_end(form) }}
    </turbo-frame>
{% endblock %}

{% block title %}Conversation{% endblock %}
