{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar/nav.html.twig' %}
    <div class="px-4 max-w-7xl mx-auto mt-5">

        <div class="flex flex-col lg:flex-row lg:gap-x-8">

            <!-- Images -->
            <div class="w-full lg:w-1/2">
                <!-- Images -->
                <div class="w-full lg:w-1/2 flex flex-col gap-4">
                    {% if product.images|length > 0 %}
                        <div class="w-full rounded-lg overflow-hidden">
                            <img src="{{ vich_uploader_asset(product.images[0]) | imagine_filter('productShow') }}" alt="" class="w-full object-cover h-96 rounded-lg">
                        </div>

                        {% if product.images|length > 1 %}
                            <div class="flex gap-3 mt-2 overflow-x-auto">
                                {% for image in product.images|slice(1) %}
                                    <div class="w-20 h-20 flex-shrink-0 rounded-lg overflow-hidden border border-gray-300 cursor-pointer hover:border-[#D66853]">
                                        <img src="{{ vich_uploader_asset(image) }}" alt="" class="w-full h-full object-cover">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="text-gray-400">Pas d'images disponibles</p>
                    {% endif %}
                </div>

            </div>

            <!-- Infos  -->
            <div class="w-full lg:w-1/2 mt-3 lg:mt-0 flex flex-col gap-y-6">
                <div>
                    <h1 class="text-2xl font-semibold">{{ product.name }}</h1>
                    <p class="text-gray-600">{{ product.description }}</p>
                    <p class="text-lg font-bold">{{ product.price }} €</p>
                </div>

                <form action="{{ path('app_cart_add', { id: product.id }) }}" method="POST"
                      class="flex flex-col sm:flex-row items-start sm:items-center justify-between gap-4">

                    {% include 'quantity/bouttons.html.twig' %}

                    <button type="submit" class="btn px-6 py-2 border rounded text-sm bg-[#D66853] text-white hover:bg-[#bf503f]">
                        Ajouter au panier
                    </button>
                </form>


                {% if product.stock %}
                    <p class="text-sm text-green-600 mt-2">En stock</p>
                {% endif %}
            </div>
        </div>

        <!-- Description  -->
        <div class="border rounded mt-10 p-4">
            <h3 class="text-xl font-semibold">Description</h3>

            {{ product.description }}
        </div>

        <!-- Avis  clients -->
        <div class="mt-10">
            <div class="flex justify-between items-center">
                <h3 class="text-xl font-semibold">Avis des clients</h3>
                <a href="{{ path('app_feedback_create', {id:product.id}) }}" class="border rounded p-2">
                    {{ ux_icon('ic:outline-plus', {class: 'w-[25px] h-[25px]'}) }}
                </a>
            </div>

            {% if product.feedback|length > 0 %}
                <div class="flex justify-between items-center mt-2">
                    <p class="flex items-center">{{ product.getAverageProductRating(product) }}/5 {{ ux_icon('material-symbols:star-outline-rounded',{ class :'w-[25px] h-[25px]'}) }}</p>
                    <p>{{ product.feedback|length }} avis</p>
                </div>
            {% endif %}

            <div class="mt-4 space-y-6">
                {% for feedback in product.feedback %}
                    <div class="border p-4 rounded-md">
                        <div>
                            <p class="font-semibold">{{ feedback.author.name }} {{ feedback.author.firstName }}</p>
                            <p class="text-sm text-gray-500">{{ feedback.createAt|date('d/m/Y') }}</p>
                        </div>

                        <div class="mt-3 flex flex-col gap-y-2">
                            <p class="bg-green-100 text-green-800 px-3 py-1 rounded inline-flex items-center w-max">
                                {{ feedback.productRating }}/5 {{ ux_icon('material-symbols:star-outline-rounded',{ class :'w-[25px] h-[25px]'}) }}
                            </p>
                            <p class="text-gray-800">content : {{ feedback.content }}</p>
                        </div>

                        <div class="flex justify-between items-center mt-4">
                            <a href="{{ path('app_feedback_rating', {id:feedback.id}) }}" class="text-sm">
                                <span class="flex items-center">{{ feedback.getAverageRelevance(feedback) }} {{ ux_icon('material-symbols:star-outline-rounded',{ class :'w-[25px] h-[25px]'}) }}</span>
                                <span class="text-xs text-gray-600">Pertinence</span>
                            </a>

                            {% if app.user.profile == feedback.author %}
                                <div class="flex gap-3">
                                    <a href="{{ path('app_feedback_edit', {id:feedback.id}) }}" class="btn btn-outline-primary">{{ ux_icon('material-symbols:edit-outline',{ class :'w-[25px] h-[25px]'}) }}</a>
                                    <a href="{{ path('app_feedback_delete', {id:feedback.id}) }}" class="btn btn-outline-danger ">
                                        {{ ux_icon('tabler:trash',{ class :'w-[25px] h-[25px] '}) }}
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
