<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <style>
        body { font-family: DejaVu Sans, sans-serif; color: #333; font-size: 12px; }
        .header, .footer { text-align: center; }
        .logo { width: 80px; }
        .title { font-size: 22px; margin-top: 10px; }
        .section { margin-bottom: 20px; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { padding: 8px; border: 1px solid #ccc; text-align: left; }
        .totals td { border: none; }
        .totals .label { text-align: right; }
        .bold { font-weight: bold; }
        .bg-light { background-color: #f4f4f4; }
    </style>
</head>
<body>
<div class="header">
    <img src="{{ absolute_url(asset('logo + nom.png')) }}" class="logo">
    <div class="title">NaturalJewelry</div>
</div>

<hr>

<div class="section">
    <table>
        <tr>
            <td>
                <strong>DESTINATAIRE DE LA FACTURE</strong><br>
                {{ order.customer.name }}  {{ order.customer.firstName }}<br>
                {{ order.customer.ofUser.email }}<br>
                {{ order.customer.phone }}<br>
                {{ order.shippingAddress.street }} {{ order.shippingAddress.street }}<br>
                 {{ order.shippingAddress.zipcode }}, {{ order.shippingAddress.country }}
            </td>
            <td>
                <strong>PAIEMENT</strong><br>
                Le {{ order.createAt|date('d/m/Y') }}<br>
                {{ order.total }} €
            </td>
        </tr>
    </table>
</div>

<table>
    <thead class="bg-light">
    <tr>
        <th>Article</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
        <th>Montant</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.orderItems %}
        <tr>
            <td>{{ item.product.name }} #{{ item.product.id }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price|number_format(2, '.', '') }} €</td>
            <td>{{ (item.product.price * item.quantity)|number_format(2, '.', '') }} €</td> <!-- 2 chiffres apres virgule-->
        </tr>
    {% else %}
        <tr><td colspan="4">Aucun produit.</td></tr>
    {% endfor %}
    </tbody>
</table>

<table class="totals">
    <tr>
        <td colspan="3" class="label bold">Sous-total :</td>
        <td>{{ order.total|number_format(2, '.', '') }} €</td>
    </tr>
    <tr>
        <td colspan="3" class="label bold">TVA :</td>
        <td>Inclus</td>
    </tr>
    <tr>
        <td colspan="3" class="label bold">Total dû :</td>
        <td class="bold">{{ order.total|number_format(2, '.', '') }} €</td>
    </tr>
</table>
</body>
</html>
