


{% extends 'base.html.twig' %}

{% block body %}

    <h3>pick a billing address</h3>
    {% if app.user.profile.addresses %}
        {% for address in app.user.profile.addresses %}

            <a href="{{ path('app_order_shippingaddress',{id:address.id}) }}">
                <div class="flex">
                    <p>{{ address.streetNumber }}</p>
                    <p>{{ address.street }}</p>
                    <p>{{ address.zipcode }}</p>
                    <p>{{ address.country }}</p>
                </div>
            </a>

        {% endfor %}
    {% endif %}


{% endblock %}



{% block title %}

{% endblock %}
